h1
{
	color: red;
	margin-top: 60px;
	text-align: center;

}

#img1
{
	align-items: center;
	width: 200px;
	height: 200px;
	margin-top: -140px;
	margin-left: 440px;

}

#img2
{
	align-items: center;
	width: 200px;
	height: 200px;
	margin-top: -110px;
	margin-left: 600px;

}
#votesTableContent
{	
	margin: auto;
	background-color: white;
	align-content: center;
	text-align: center;

}

table
{
	color: white;
	font-family: Impact ;
	margin-left : 780px;